/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  background: #022c43;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1%;
  color: lightcyan;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  padding: 2%;
  justify-content: space-around;
  background: url('../img/active-activity-adult-1472887\ \(1\).jpg') 100% 100% no-repeat;
  height: 600px;
}
@media (max-width: 500px) {
  header {
    background: url('../img/mobile\ header.jpg') 100% 100% no-repeat;
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    align-items: center;
  }
}
header .navigation {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  header .navigation {
    flex-direction: column;
  }
}
header .navigation a {
  text-decoration: none;
  color: #d1eecc;
  padding: 11%;
  font-weight: bold;
  margin: 5%;
  background: black;
  height: 8%;
  width: 100%;
  border-radius: 10px;
}
header .navigation .navbtn {
  background: #ffd700;
  border: none;
  border-radius: 8px;
  padding: 5% 40%;
  color: #4f5a5f;
  font-weight: bold;
  font-size: 1.7rem;
  width: 70%;
  displaY: flex;
  justify-content: center;
  border: 2px solid white;
}
@media (max-width: 500px) {
  header .navigation .navbtn {
    width: 50%;
    font-size: 2rem;
    padding: 5% 50%;
  }
}
header img {
  width: 60%;
}
.title {
  display: flex;
  justify-content: center;
  padding: 1%;
  background: #022c43;
}
.title h1 {
  display: flex;
  padding: 1%;
  font-size: 4rem;
  width: 50%;
  justify-content: center;
}
@media (max-width: 500px) {
  .title h1 {
    width: 100%;
    text-align: center;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.aboutUs {
  display: flex;
  background: #f2eee5;
}
@media (max-width: 500px) {
  .aboutUs {
    display: flex;
    flex-direction: column;
  }
}
.aboutUs .workoutClass {
  display: flex;
  justify-content: center;
  margin-left: 5%;
}
.aboutUs .workoutClass img {
  width: 50%;
  height: auto;
  border-top: dashed 2px lightgray;
}
@media (max-width: 500px) {
  .aboutUs .workoutClass img {
    width: 100%;
  }
}
.aboutUs .welcomePgraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 500px) {
  .aboutUs .welcomePgraph {
    align-items: center;
  }
}
.aboutUs .welcomePgraph p {
  width: 62%;
  border-bottom: dashed 2px lightgray;
}
.aboutUs .welcomePgraph h2 {
  padding-top: 2%;
  width: 61%;
  border-radius: 2px;
}
@media (max-width: 500px) {
  .aboutUs .welcomePgraph h2 {
    width: 100%;
  }
}
.content-pick {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .content-pick {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.content-pick .classType {
  width: 25%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .content-pick .classType {
    width: 62%;
  }
}
.content-pick .classType h4 {
  display: flex;
  justify-content: center;
  border-radius: 12px;
}
@media (max-width: 500px) {
  .content-pick .classType h4 {
    font-size: 2rem;
    font-weight: bold;
  }
}
.content-pick .classType p {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .content-pick .classType p {
    font-size: 1.2rem;
  }
}
.content-pick .classType .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf4f3;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 180px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: #0c093c;
}
.content-pick .classType .btn:hover {
  background-color: #0c093c;
  color: #ecf4f3;
}
@media (max-width: 500px) {
  .content-pick .classType .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecf4f3;
    margin: 0 10px 20px;
    cursor: pointer;
    width: 300px;
    height: 45px;
    font-size: 2rem;
    border-radius: 10px;
    color: #0c093c;
  }
  .content-pick .classType .btn:hover {
    background-color: #0c093c;
    color: #ecf4f3;
  }
}
.container-home {
  width: 100%;
  background: lightgray;
}
.container-home h2 {
  display: flex;
  justify-content: center;
  height: 100px;
  font-size: 4rem;
}
@media (max-width: 500px) {
  .container-home h2 {
    font-size: 3rem;
    text-align: center;
    height: 75px;
  }
}
.hostingClass {
  font-size: 2rem;
}
.hostingClass .formUniversal {
  display: flex;
  justify-content: center;
}
.hostingClass .formUniversal .classForm1 {
  display: flex;
  flex-direction: column;
  padding: 3% 2%;
}
.hostingClass .formUniversal .classForm2 {
  display: flex;
  flex-direction: column;
  padding: 3% 2%;
}
.hostingClass input {
  width: 300px;
  margin: 2% 3%;
  height: 40px;
}
@media (max-width: 500px) {
  .hostingClass input {
    width: 200px;
  }
}
.hostingClass .row3 {
  display: flex;
  justify-content: center;
}
.hostingClass textarea {
  width: 500px;
}
@media (max-width: 500px) {
  .hostingClass textarea {
    width: 300px;
  }
}
.hostingClass .actions {
  display: flex;
  justify-content: center;
  padding: 1%;
  margin: 0% 2%;
}
.classSearch {
  margin-left: 4%;
}
.classSearch p {
  font-size: 3rem;
}
.classSearch .btn {
  text-decoration: none;
  background: #ffd700;
  border: none;
  border-radius: 8px;
  padding: 0.3%;
  color: #4f5a5f;
  font-weight: bold;
  font-size: 2rem;
  width: 15%;
  border: 2px solid white;
}
.aboutTheTeam {
  display: flex;
  justify-content: center;
}
.aboutTheTeam p {
  font-size: 3rem;
  width: 65%;
}
.meetTheTeam h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}
.meetTheTeam h3 {
  background: none;
  width: 40%;
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}
.meetTheTeam p {
  width: 40%;
}
.meetTheTeam .personOne {
  padding: 2%;
  display: flex;
}
.meetTheTeam .personOne img {
  width: 30%;
  margin-left: 20%;
}
.meetTheTeam .personOne .personDescription {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-right: 5%;
}
.meetTheTeam .personTwo {
  padding: 2%;
  display: flex;
  flex-direction: row-reverse;
}
.meetTheTeam .personTwo img {
  width: 30%;
  margin-right: 15%;
}
.meetTheTeam .personTwo .personDescription {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 5%;
}
.contactUs h2 {
  display: flex;
  justify-content: center;
}
.contactUs .contactForm {
  display: flex;
  justify-content: center;
  padding: 3%;
}
.contactUs .contform {
  display: flex;
  flex-direction: column;
}
.contactUs .contform input {
  width: 400px;
  padding: 1%;
}
