.testBorder {
  border: 2px solid green;
}
.center {
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body h1,
body nav {
  font-family: 'Black Ops One';
  letter-spacing: 2px;
  color: #e7e7e7;
}
body h2 {
  font-family: 'Mirza', cursive;
  letter-spacing: 2px;
  color: #e7e7e7;
}
body .bodyMinor {
  width: 85%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body .bodyMinor .topPart {
  box-shadow: 3px 3px 3px black;
}
body .bodyMinor .header {
  border-radius: 4px;
  padding: 1%;
  background: #ea6c36;
}
body .bodyMinor .header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 2px 2px 5px brown;
}
@media (max-width: 500px), (max-width: 800px) {
  body .bodyMinor .header nav {
    display: flex;
    border: 2px solid red;
    font-size: 0.5rem;
  }
}
body .bodyMinor .header nav .point {
  width: 10%;
}
body .bodyMinor .header nav a {
  text-decoration: none;
  background: #9a5131;
  width: 10%;
  border: 10px solid #e7e7e7;
  padding: 2%;
  color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}
body .bodyMinor header {
  display: flex;
  padding: 2%;
  justify-content: space-around;
  height: auto;
  height: 600px;
}
body .bodyMinor header .searchBar {
  width: 15%;
}
body .bodyMinor header .navigation {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 18%;
  width: 50%;
}
body .bodyMinor header .navigation a {
  text-align: center;
  text-decoration: none;
  color: #d1eecc;
  font-size: 2.4rem;
  padding: 5%;
  font-weight: bold;
  margin: 5%;
  background: black;
  height: 10%;
  width: 50%;
  border-radius: 10px;
}
body .bodyMinor header img {
  width: 50%;
}
body .bodyMinor .fitnessContainer {
  display: flex;
}
body .bodyMinor .fitnessContainer h1 {
  font-size: 2rem;
}
body .bodyMinor .fitnessContainer .left,
body .bodyMinor .fitnessContainer .right {
  width: 24%;
}
@media (max-width: 500px) {
  body .bodyMinor .fitnessContainer .left,
  body .bodyMinor .fitnessContainer .right {
    display: none;
  }
}
body .bodyMinor .fitnessContainer .fitnessCenter {
  display: flex;
  justify-content: center;
  padding: 1%;
  background: #ea6c36;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
@media (max-width: 500px) {
  body .bodyMinor .fitnessContainer .fitnessCenter {
    width: 100%;
  }
}
body .bodyMinor .fitnessContainer .fitnessCenter .pt1 {
  width: 100%;
  display: flex;
  flex-direction: center;
  align-items: center;
}
body .bodyMinor .fitnessContainer .fitnessCenter .pt1 .pt1minor {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .bodyMinor .fitnessContainer .fitnessCenter .pt2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
body .bodyMinor .fitnessContainer .fitnessCenter .pt2 .pt2minor {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
body .bodyMinor .fitnessContainer .fitnessCenter .pt1,
body .bodyMinor .fitnessContainer .fitnessCenter .pt2 {
  text-shadow: 2px 2px 5px dodgerblue;
}
@media (max-width: 500px), (max-width: 800px) {
  body .bodyMinor .fitnessContainer .fitnessCenter .pt1,
  body .bodyMinor .fitnessContainer .fitnessCenter .pt2 {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    font-size: 0.5rem;
    text-align: center;
  }
}
body .bodyMinor .flexMeta {
  display: flex;
}
@media (max-width: 500px) {
  body .bodyMinor .flexMeta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body .bodyMinor .flexMeta .container-home {
  margin: 0.25%;
  width: 100%;
  background: #6eb2cc;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .bodyMinor .flexMeta .container-home h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
}
body .bodyMinor .flex {
  text-align: center;
  border-radius: 10px;
}
body .bodyMinor h1 {
  padding: 1%;
  font-size: 3em;
  width: 50%;
  justify-content: center;
}
body .bodyMinor .aboutUs {
  display: flex;
  background: #2f6a87;
  box-shadow: 2px 2px 2px black;
  border-radius: 3px;
}
body .bodyMinor .welcomePgraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .bodyMinor .welcomePgraph p {
  width: 62%;
  border-bottom: dashed 2px lightgray;
}
@media (max-width: 500px) {
  body .bodyMinor .welcomePgraph p {
    font-size: 1.2rem;
    padding-bottom: 3%;
  }
}
body .bodyMinor .welcomePgraph h2 {
  padding-top: 2%;
  width: 61%;
  border-radius: 2px;
}
@media (max-width: 500px) {
  body .bodyMinor .welcomePgraph h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
}
