.aboutTheTeam{
    display:flex;
    justify-content: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(239,246,249,1) 0%, rgba(206,239,253,1) 90% );

    p{
    font-size: 3rem;
    width: 65%;

    @media @mobile {
        font-size: 2rem;
       }
}
}

.meetTheTeam{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(239,246,249,1) 0%, rgba(206,239,253,1) 90% );


    h2{
        display:flex;
        justify-content: center;
        padding-bottom: 2%;
        
    }
    h3{
        background: none;
        width: 40%;
        color: black;
        font-size: 2.5rem;
        font-weight: bold;
        
    }
    p{
        width: 40%;

        @media @mobile {
            width:100%;
        }
    }
    .personOne{
        padding: 2%;
        display:flex;
    
       @media @mobile {
        display:flex;
        flex-direction: column;
       }
        
    img{
        width:30%;
        margin-left: 20%;

        @media @mobile{
            width: 100%;
            margin: 0%;
        }
    }


    .personDescription{
        display:flex;
        flex-direction: column;
        text-align:center;
        align-items: center;
        margin-right: 5%;
       
    }

}


     .personTwo{
        padding: 2%;
        display:flex;
        flex-direction: row-reverse;
        
        @media @mobile {
            display:flex;
            flex-direction: column;
           }
        
     img{
        width:30%;
        margin-right: 15%;

        @media @mobile {
            width:100%;
           }
     }


        .personDescription{
        display:flex;
        flex-direction: column;
        text-align:center;
        align-items: center;
        margin-left:5%;
       
        }
    }
}

.contactUs{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(239,246,249,1) 0%, rgba(206,239,253,1) 90% );
    
    input{
        width: 200px;
        padding: 2%;
        margin: 1%;
        background-color: #deffe0;
        background-image: linear-gradient(0deg, #deffe0 0%, #d7e7e2 100%);



    } 
    
    textarea{
        width: 400px;
        height: 250px
        
        

    }   

    .actions{
        display:flex;
        padding: 1%;
        
    }

    h2{
        display:flex;
        justify-content: center;
    }


    .contactForm{
        display:flex;
        flex-direction:column;
        align-items: center;
        padding: 3%;
    }

}

