// Navigation Styles here

header{
    display:flex;
    padding: 2%;
    justify-content: space-around;
    background: url('../img/active-activity-adult-1472887\ \(1\).jpg') 100% 100% no-repeat;
    height: 600px;

    @media @mobile{
        background: url('../img/mobile\ header.jpg') 100% 100% no-repeat;
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
       
        align-items: center;
    }


    .navigation{
        display:flex;
        justify-content: center;
         
        @media @mobile{
           flex-direction: column;
        }
       

        a{
        text-decoration: none;
        color: #d1eecc;
        padding: 7%;
        font-weight: bold;
        margin:5%;
        background: black;
        height: 8%;
        width: 100%;
        border-radius: 10px;

       

        }
        .navbtn{   
        background: #ffd700;
        border: none;
        border-radius: 8px;
        padding: 5% 30%;
         color: #4f5a5f;
        font-weight: bold;
        font-size: 1.7rem;
        width: 70%;
        displaY:flex;
        justify-content: center;
        border: 2px solid white;
            
        @media @mobile{
           width: 50%;
            font-size: 2rem;
            padding: 5% 50%;
              
        
        }


        }
    }

    img{
        width: 60%;
        
    }
  
}

.title{
    display:flex;
    justify-content: center;
    padding: 1%;
    background:#022c43;
    
    
    h1{
        display:flex;
        padding: 1%;
        font-size: 4rem;
        width: 50%;
        justify-content: center;

        @media @mobile{
            width: 100%;
            text-align: center;
        }
    }

}

.aboutUs{
    display:flex;
background: #f2eee5;

@media @mobile{
    display:flex;
    flex-direction: column;
}

}

.workoutClass{
    display:flex;
    justify-content: center;
    margin-left: 5%;
    
   

  img{
        width: 50%;
        height: auto;
        border-top: dashed 2px lightgray;

        @media @mobile{
           width:100% 
        }

        }
    }
    
.welcomePgraph{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    @media @mobile{
        align-items:center;
    }
    p{
        width: 62%;
        border-bottom: dashed 2px lightgray;

    }
    h2{
        padding-top: 2%;
        width:  61%;
        border-radius: 2px;
        
        @media @mobile{
            width: 100%;
        }

    }
}


